body {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
	font-weight: 700;
	min-height:100vh;
	background: url(https://st.depositphotos.com/2650255/5167/v/600/depositphotos_51676503-stock-illustration-seamless-pattern-of-business-and.jpg);
}

main {
	display: inline-block;
	justify-content: center;
	padding: 15px;
	text-align: center;
	margin: 0;
	background-color: white;

	box-shadow: 1px 1px 1px 1px #000;
}

button {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
	font-style: italic;
	font-weight: 200;
}

button:hover {
	background-color: rgba(206, 255, 133, 0.814);
}